# Dependencies
node_modules/

# Test coverage
coverage/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
*.log

# Temporary files
/tmp
